.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px; 
    height: 100px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgb(218, 205, 231) 30%, rgb(179, 154, 206) 100%);
    color: white;
}

.logo img {
    width: 350px;
    height: auto;
    margin: 0 auto; /* Esto centrará horizontalmente el logo */
    animation: cambioColor 3s linear infinite;
}

@keyframes cambioColor {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

.nav {
    display: flex;
    align-items: center;
}

.nav button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 10px;
}

.nav button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav a {
    text-decoration: none;
    color: inherit;
}

/*imagenes y seccion media de mi pagina principal*/


.section-images {
    text-align: center; 
}

.image-container {
    display: flex;
    overflow-x: hidden; 
}

.image-container img {
    width: 300px;
    height: auto; 
    margin-right: 0px; 
}

/* Animación para mover las imágenes hacia la izquierda */

@keyframes moverIzquierda {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.image-container img {
    animation: moverIzquierda 5s linear infinite; /* Aplica la animación a todas las imágenes */
}

/* Estilos para el encabezado h1 */

.section-images h1 {
    font-size: 3em;
    color: rgb(45,57,88);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-images p {
    font-size: 1.5em;
    color: #333; 
    text-align: center;
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
    background-color: #f2f2f2; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
}

.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgb(218, 205, 231) 30%, rgb(179, 154, 206) 100%);
    padding: 20px;
}

.footer a {
    margin: 0 10px; 
}

.footer img {
    justify-content: center;
    width: 30px;
    height: auto; 
}

/*Pantallas mas pequeñas*/

@media only screen and (max-width: 768px) {

.logo img {
    width: 250px; 
    }

.nav {
    flex-direction:column; 
    align-items:center;
    }

.nav button {
    margin: 10px 0; 
    }

.section-images h1 {
    font-size: 2em; 
}

.section-images p {
    font-size: 1.2em; 
    }

.image-container img {
    width: 200px; 
    }
}

/*Sobre Taylor y sus discograficas*/

.publicidad img {
    max-width: 400px; 
    height: auto;
}


.publicidad .contenido {
    max-width: 40%;
    padding: 20px;
}


.publicidad h1,
.publicidad h2 {
    color: rgb(79,76,168); 
    font-size: 32px; 
    text-align: center; 
}

.publicidad p {
    font-size: 20px; 
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .publicidad {
        flex-direction: column;
    }
    .publicidad .contenido {
        max-width: 100%;
    }
}

/* Estilo para la disposición de las imágenes y el contenido */
.publicidad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilo para el fondo gris de los contenedores de texto */


.contenedor-gris {
    background: rgb(180, 178, 220); 
    background: linear-gradient(45deg, rgba(204, 204, 255, 1) 0%, white 80%); 
    padding: 10px;
    border-radius: 5px;
}

body {
    background-color: rgb(230,230,244); 
}



/* Discografia */

.grid--discografia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

/* Estilos específicos para la parte de la discografía */
.grid--discografia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.grid--discografia div{
    background: linear-gradient(45deg, rgba(204, 204, 255, 1) 0%, white 80%); 
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color:rgba(204, 204, 255, 1) ;
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
}
.grid--discografia a{
    text-decoration: none;
}
.grid--discografia p{
    font-size: 20px;
    color: rgb(124, 124, 196);
    margin: 10px;
}

/*Galeria*/

.titulo-galeria {
    text-align: center; 
    font-size: 36px; 
    margin-bottom: 20px; 
    color: rgb(45,57,88);
}

img {
    width: 500px; 
    height: auto; 
    margin: 10px; 
    display: inline-block; 
}

/*The Eras Tour */

.div--eras {
    font-size:30px;
    color: rgb(45,57,88);
    align-items:center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgb(218, 205, 231) 30%, rgb(179, 154, 206) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.video-container {
    text-align: center; 
    height: 90vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Estilos para el video */
.video-container iframe {
    width: 90%; 
    max-width: 1200px; 
    height: 100%; 
    display: block; 
    margin: 0 auto; 
}