// Colores
$color-blanco: #ffffff;
$color-primario: rgb(45, 57, 88);
$color-secundario: rgb(204, 204, 255);
$color-fondo: rgb(230, 230, 244);

// Tamaños de fuente
$font-titulo: 3em;
$font-texto: 1.5em;

// Margenes y padding
$espaciado-pequeno: 10px;
$espaciado-mediano: 20px;
$espaciado-grande: 50px;