// Tema por defecto
$color-primario: #007bff;
$color-secundario: #6c757d;

$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: 'Arial', sans-serif;

// Tema oscuro
$color-primario-dark: #343a40;
$color-secundario-dark: #adb5bd;

$fuente-principal-dark: 'Poppins', sans-serif;
$fuente-secundaria-dark: 'Arial', sans-serif;